{% extends 'veterinarias/base.html' %}

{% block title %}Formulario | Veterinaria{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow p-4">
                <h3 class="mb-4 text-center text-primary">Registrar / Editar Veterinaria</h3>

                <<form id="form-vet" method="POST" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3">
                            <label class="form-label">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <div class="text-danger small">
                                    {{ field.errors|striptags }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'lista_veterinarias' %}" class="btn btn-secondary">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
